/* ==============  VARIABLES =========== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-color-hover: #404bbf;
  --color-background-page: #ffffff;
  --bg-color-section: #f4f4fd;
  --color-on-dark: #ffffff;
  --color-footer-text: #f4f4fd;

  --section-padding-block: 120px;
}
/* ==============  /VARIABLES =========== */

/* ==============  RESET STYLES =========== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/* ==============  / RESET STYLES =========== */

/* ==============  COMMON STYLES =========== */

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--color-background-page);
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  padding-block: var(--section-padding-block);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color);

  margin-bottom: 72px;
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  margin-bottom: 8px;
}

.list-item-text {
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* ==============  /COMMON STYLES =========== */

/* =============== Page HEADER STYLES =========== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-hover);
}
/* ===============  /Page HEADER STYLES  =========== */

/* ==============  HERO SECTION STYLES =========== */
.section-hero {
  background-color: var(--secondary-color);
  padding-block: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  color: var(--color-on-dark);

  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-on-dark);

  background-color: var(--accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color-hover);
}
/* ==============  /HERO SECTION STYLES =========== */

/* ==============  FEATURES STYLES =========== */
.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-list-item:not(:last-child) {
  margin-right: 24px;
}

/* ==============  /FEATURES STYLES =========== */

/* ==============  OUR TEAM STYLES =========== */
.section-our-team {
  background-color: var(--bg-color-section);
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-list-item {
  border-radius: 0 0 4px 4px;
  background-color: var(--color-background-page);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

  flex-basis: calc((100% - 3 * 24px) / 4);
}

.our-team-list-item:not(:last-child) {
  margin-right: 24px;
}

.our-team-list-text-title {
  padding: 32px 0;
}

.section-item-title--center,
.our-team-list-text {
  text-align: center;
}
/* ==============  /OUR TEAM STYLES =========== */

/* ==============  OUR PORTFOLIO STYLES =========== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-list-title-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* ==============  /OUR PORTFOLIO STYLES =========== */

/* ==============  PAGE FOOTER STYLES =========== */
.page-footer {
  background-color: var(--secondary-color);
  padding-block: 100px;
}

.footer-logo .logo-part,
.page-footer-text {
  color: var(--color-footer-text);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer-text {
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* ==============  /PAGE FOOTER STYLES =========== */
