/* ==============  VARIABLES =========== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-color-hover: #404bbf;
  --color-background-page: #ffffff;
  --bg-color-section: #f4f4fd;
  --color-on-dark: #ffffff;
  --color-footer-text: #f4f4fd;
}
/* ==============  /VARIABLES =========== */

/* ==============  COMMON STYLES =========== */

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--color-background-page);
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.list-item-text {
  letter-spacing: 0.02em;
}

/* ==============  /COMMON STYLES =========== */

/* =============== Page HEADER STYLES =========== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header-logo .logo-part {
  color: var(--secondary-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts {
  font-style: normal;
}

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-hover);
}
/* ===============  /Page HEADER STYLES  =========== */

/* ==============  HERO SECTION STYLES =========== */
.section-hero {
  background-color: var(--secondary-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-on-dark);
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-on-dark);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color-hover);
}
/* ==============  /HERO SECTION STYLES =========== */

/* ==============  FEATURES STYLES =========== */

/* ==============  /FEATURES STYLES =========== */

/* ==============  OUR TEAM STYLES =========== */
.section-our-team {
  background-color: var(--bg-color-section);
}
.our-team-list-item {
  background-color: var(--color-background-page);
}
.section-item-title--center,
.our-team-list-text {
  text-align: center;
}
/* ==============  /OUR TEAM STYLES =========== */

/* ==============  OUR PORTFOLIO STYLES =========== */

/* ==============  /OUR PORTFOLIO STYLES =========== */

/* ==============  PAGE FOOTER STYLES =========== */
.page-footer {
  background-color: var(--secondary-color);
}

.footer-logo .logo-part,
.page-footer-text {
  color: var(--color-footer-text);
}

.page-footer-text {
  letter-spacing: 0.02em;
}
/* ==============  /PAGE FOOTER STYLES =========== */
